[user]
	email = ql3895619@gmail.com
	name = yizo
[alias]
	a = add
	cm = commit -m
	cam = commit -a -m
	co = checkout
	lg = log --graph --pretty=format:'%C(yellow)%h%Creset %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset %C(yellow)%d%Creset %s' --abbrev-commit
	s  = status -s
[push]
	default = matching
[core]
	editor = vim
	excludesFile = ~/.config/git/ignore
